<!-- <h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h2 class="display-3">EventBrite Saint-Denis</h2>
		<p>Voici la liste des événements prévus à Saint-Denis!</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Créer un nouvel événement »</a></p>
	</div>
</div>

<div class="container">
	<!-- row of columns -->
	<div class="row">

		<!-- Affichage des events dans des cards -->
		<% Event.all.each do |e| %>

		<div class="col-md-4">
			<div class = "card-deck">
				<div class="card bg-light mb-3 border-secondary" style="width: 20%;">
					<img class="card-img-top" src="https://www.agence-evenementielle-innovevents.fr/wp-content/uploads/2019/02/lieux-evenements-entreprise-marseille-672x372.jpg" alt="event marseille">
					<div class="card-body text-center">
						<h5 class="card-title"><%= e.title %></h5>
						<p class="card-text"><%= e.description %></p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><%= e.start_date %></li>
					</ul>
					<div class="card-body">
						<a href="#" class="card-link">Voir détails</a>
					</div>
				</div>
			</div>
		</div>

		<% end %>

	</div>
</div>
